<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListLibraryServlet</servlet-name>
        <servlet-class>com.movie.view.ListLibraryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMovieServlet</servlet-name>
        <servlet-class>com.movie.controller.AddMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuccessServlet</servlet-name>
        <servlet-class>com.movie.view.SuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMovieFormServlet</servlet-name>
        <servlet-class>com.movie.view.AddMovieFormServlet</servlet-class>
        <init-param>
            <param-name>genre-list</param-name>
            <param-value>Sci-Fi,Action,Comedy</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListLibraryServlet</servlet-name>
        <url-pattern>/list_library.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMovieServlet</servlet-name>
        <url-pattern>/add_movie.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuccessServlet</servlet-name>
        <url-pattern>/success.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMovieFormServlet</servlet-name>
        <url-pattern>/add_movie.view</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
